/*color
#f0fff4
#f5fff9 
*/
body{
    max-width: 1440px;
    margin: 2% 15%;
    background-color:#f0fff4 ;
    font-size: 1.5rem;
}
form{
    position: absolute;
    width: 70%;
    
}
select,label,input{
    display: block;
    margin-bottom: 5px;
    position: relative;
    width: 70%;
    height:25px;
    border-radius: 5px;

}
input,select{
    border:1px solid ;
}

.check-box {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#chk-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#chk-box-label {
    margin-top: 8px;
    font-size: 0.9rem;
}
.btn{
    background-color: black;
    color: white;
    padding: 1% 5%;
    border-radius: 5px;
    margin: 4% 30%;
    font-size: 1.25rem;
}
.ngo-btn{
    width: 20rem;
    margin: 3% 18%;
}
.btn:hover{
    background-color: rgba(200, 213, 224, 0.8);
    color: black;
    cursor: pointer;
}
/*mobile responsive*/
@media screen and (max-width:576px){
    body{
        margin:15% 12%;
        font-size: 1.5rem;
    }
    select,label,input{
        width: 100%;
    }
    .btn{
        padding:2% 8%;
        font-size: 1.25rem;
        
    }
    .ngo-btn{
        width:12rem ;

    }
    #chk-box-label {
        margin-top: 5px;
        font-size: 0.8rem;
    }
    
} 
/*tab responsive*/
@media screen and (min-width:576px) and (max-width: 992px){
    body{
        margin:15% 12%;
        font-size: 1.75rem;
    }
    select,label,input{
        width: 100%;
    }
    .btn{
        padding:2% 8%;
        font-size: 1.75rem;
        
    }
    .ngo-btn{
        width: 20rem;
        margin: 4% 20%;
        font-size: 1rem;
    }
    
    
} 
